@import "tailwindcss";
@plugin "@tailwindcss/typography";

@plugin "daisyui" {
  themes: lemonade --default, abyss;
}

@custom-variant dark (&:where([data-theme=abyss], [data-theme=abyss] *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-noto-sans);
}

[data-theme=abyss] .ql-snow .ql-picker {
  color: #eee !important;
}

[data-theme=abyss] .ql-snow .ql-picker-item {
  color: #444 !important;
}

[data-theme=abyss] .ql-snow .ql-stroke {
  stroke: #eee !important;
}
